<div class="login d-flex justify-content-center align-items-center m-auto">

    <div class="row">
        <div class="col-md-6 p-0">
            <div class="overlay"></div>
            <img src="../../../../assets/imgs/login01.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="h-100 d-flex align-items-center justify-content-center w-100">
                <div class="box w-75">
                    <h2 class="text-center">Login </h2>

                    <form [formGroup]="loginForm">
                        <div class="form-group mt-4">
                            <label for="exampleInputEmail1">Email address :</label>
                            <input type="email" class="form-control" id="exampleInputEmail" formControlName="email"
                                placeholder=" Email Address">

                        </div>
                        <div class="form-group mt-4">
                            <label for="exampleInputpassword">Password :</label>
                            <input type="password" class="form-control" id="exampleInputpassword"
                                formControlName="password" placeholder=" Password">

                        </div>

                    </form>

                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-info" (click)="onSubmit()">Login</button>
                    </div>

                    <div class="text-center mt-3" *ngIf="loading">
                        <app-spinner></app-spinner>
                    </div>
                </div>
                
            </div>
          
        </div>
        
    </div>

</div>